.form-design{
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.form{
    border: 2px solid #C19977;
    padding: 50px;
}