
.about-container{
    margin: 150px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;

}
.about-img{
    width: 100%;
}
.aboutUs{
    color: #C19977;
}
.about-description{
    color: rgb(161, 161, 161);
}

@media only screen and (max-width: 576px) {
    .about-container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    }
    .margin{
        justify-content: center;
    }
  }