* {
    font-family: 'Barlow Condensed', sans-serif;
}

.test {
    font-weight: 500;
    font-size: 100px;
}

.chef {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

