.nav-container{
    background-color: black;
    color: white;
    height: 100px;
}
.logo{
    color: #C19977;
}
.page{
    font-size: 22px;
}
.page a{
    text-decoration: none;
    margin-right: 20px;
}
.profile img{
    width: 45px;
    border-radius: 50%;
}
.custom-btn{
    background-color: #C19977;
    background-color: #0E1317;
    color: white;
    border: 2px solid #C19977;
    padding: 5px 15px;
    font-size: 18px;
}